/*기존 index css, 일단 안 지우고 주석*/
.main {
    width: 80%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.lg-title {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -0.3rem;
}

.lg-subtitle {
    font-size: 1rem;
    text-align: center;
}


/*index2 css*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }
 
 .scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    
 }
 
 .scroll-container section {
    width: 100%;
    height: 100%;
 }
 
 .dots {   
    z-index: 1;
    list-style: none;
    padding: 0;
    position: absolute;   
     top: 50%;
     -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }
 
 .dots li a {
    padding: 10px;
    width: 4px;
    height: 5px;
    display: block;
 }
 
 .dots li a:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.48);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease;
    -ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease;
    -o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
 }
 
 .dots li a.active:before {
    content: '';
    background-color: #FFFFFF;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    left: 7px; 
    background-color: white;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
 }
 
 .dots-right {
    left: 25px;
 }
 
 .dots-left {
    right: 10px;
 }

 

 /* section */
 .section1 {
   background-repeat: no-repeat;
   background-size: 100%;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   
 }

.section2 {
   
   background-repeat: no-repeat;
   background-size: 100%;
} 

.section3 {
   
   background-repeat: no-repeat;
   background-size: 100%;
}

.section4 {
   
   background-repeat: no-repeat;
   background-size: 100%;
}

.section5 {
   
   background-repeat: no-repeat;
   background-size: 100%;
}

.section6 {
   
   background-repeat: no-repeat;
   background-size: 100%;
}

.section7 {
   
   background-repeat: no-repeat;
   background-size: 100%;
}
.section1 .section2 .section3
.section4 .section5 .section6 .section7
{
   background-color: rgba(184, 86, 6, 0.15);
}
        
section div {
    font-family: 'Open Sans';
    font-style: normal;
    /*text-align: center;*/
    position: relative;
    /*top: 50%;*/  
    transform: translateY(-50%);
}

.scroll-container span {
    font-size: 4em;
    font-style: normal;
    color: #fff;
}


/*추가 내용*/
/* Add some content at the bottom of the video/page */
.content {
   position: fixed;
   bottom: 0;
   /*주황색*/background: rgba(184, 86, 6, 0.15);
   
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
 }
 
 
 