.container_act {
    position: relative;
    width: 18%;
    height: 250px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(186, 99, 0, 0.678);
}

.container_act:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* The Modal (background) */
.modal_act {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.76);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content_act {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(31, 31, 31);
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close_act {
    color: white;
    float: right;
    font-size: 70px;
    font-weight: bold;
}

.close_act:hover,
.close_act:focus {
    color: rgb(78, 78, 78);
    text-decoration: none;
    cursor: pointer;
}