@charset "utf-8";
@import url(https://cdn.rawgit.com/513g/NanumBarunGothic/master/NanumBarunGothic.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');

body,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p,dd,dt,button,input,select,textarea{
   margin:0; padding:0; list-style:none; font-family:NanumSquareRound; }
a{ text-decoration:none; }
body{ width:1200px; margin:0 auto; }

header{ float:left; }
.header_wrap{ width:150px; }
h1{ height:50px; text-align:center; color:#020532; padding-top:20px; }
nav{ width:150px; text-align:center; font-size:15px; }
.gnb>li h3 a{ display: block; height:30px; color:#020532; padding-top:15px;}
.gnb>li h3 a:hover{ color:#00248c; opacity: 0.7; }
.gnb>li ul{ width:150px; height:120px; background:#020532; padding-top:20px; }
.gnb>li ul a{ color:#fff; }
.gnb>li ul a:hover{ opacity: 0.7; }
.gnb>li ul li:not(:last-child){ margin-bottom:20px; }

#container2{ width:1050px; height:900px; margin-left:150px; color:#020532; text-align: center; line-height:900px; font-size:30px;}

footer{ clear:both; position:absolute; top:700px; font-size:13px; color:#020532; font-weight:300; }
footer p{ margin-bottom:10px; }
footer p:last-child{ line-height:20px; }